
.conteiner_biemvenida{
    // margin-top:12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     @include rwd(tablet){
      
     }
 
     @include rwd(celular){
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding-left: 0;
     }
 
 }


.bienvenida_decano{
    height: 15rem;
    width: 15rem;
    margin: 1rem;
}

.container-descripccion-colegio p{
    width: 70vw;
    text-align: justify;
    font-family: 'Raleway';
}
.container-descripccion-colegio h4:nth-child(1){
    font-size:var(--titulos);
    color: var(--moradoLogo);
}

