
.titulo-contenido-colegio::after{
    content: " ";
    height: .1rem;
    width: 2rem;
    display: relative;
    margin: auto .4rem auto .4rem;
    
    background-color:var(--blancoLogo);
    border-radius:1px;
}
.titulo-contenido-colegio::before{
    content: " ";
    height: .1rem;
    width: 2rem;
    display: relative;
    margin: auto .4rem auto .4rem;
    border-radius:1px;
    background-color: var(--blancoLogo);
}


.container-descripccion-colegio{
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
}
.container-descripccion-colegio p{
    width: 70vw;
    text-align: justify;
    font-family: 'Raleway';
}
.container-descripccion-colegio h4:nth-child(1){
    font-size:var(--titulos);
    color: var(--moradoLogo);
}
.container-descripccion-colegio h2:nth-child(1){
    font-size:var(--titulos);
    color: var(--moradoLogo);

    //background-color:red
}

.contenedor_grid_colegio{
    display:grid;
    gap:1rem;
}

.contenedor_grid_colegio_titulo{
    color: var(--blancoLogo);
    background-color:var(--moradoLogo);
    padding:1rem .5rem;
    border-radius:.2em;
    text-transform: uppercase;
}

.contenedor_grid_colegio_descripccion{
    border-radius:.2em;
    padding: 1rem;
    border-left: 1px solid var(--moradoLogo);
    border-right: 1px solid var(--moradoLogo);
    border-bottom: 1px solid var(--moradoLogo);
    padding-bottom:3rem ;
}


/////////////////
.container-imagen-colegio1{
    width: 100%;
    height: 20vh;
    background-image: none;

}
.titulo-contenido-colegio11{
    color: var(--grisLogo);

}

