.grid-documentos-contenidos{
    border: 1px solid var(--moradoDegradadoFuerte);
    padding: 2rem;
    border-radius:.5rem;
}

.imagen-grid-contenidos-contenidos{
    margin-top: .5rem;
    width: 6rem;
    height: 4rem;
    background-image: url(../../../../public/iconos/icono.svg);
    background-repeat: no-repeat;
    background-size: contain;   
}

.grid-documentos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 70vw;
}

.consejoDistritalConteiner{
    background-color:var(--moradoLogo) ;
    color: var(--blancoLogo);
    padding:1rem 2rem
}
.descrip{
    color: var(--blancoLogo);
    font-size: 1rem;
}
