.grid-documentos-contenidos{
    border: 1px solid rgba(105, 41, 102, 1);
    padding: 2rem;
    border-radius:.5rem;

}

.imagen-grid-contenidos-contenidos{
    margin-top: .5rem;
    width: 6rem;
    height: 4rem;
    //border: 1px solid red;
    background-image: url(../../../../public/iconos/icono.svg);
    background-repeat: no-repeat;
    background-size: contain;

    // padding: 2rem;
    // border-radius:.5rem;
    
}

.grid-documentos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.consejoDistritalConteiner{
    background-color:rgba(105, 41, 102, 1) ;
    color: white;
    padding:1rem 2rem
}
.descrip{
    color: white;
    font-size: 1rem;
}
