.imagen{
    //border: 1px solid red;
    width:10rem;
    height:10rem;
}
.contenedor_junta1_grid{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    gap:3rem
}