
.titulo{
  font-size: 1.5rem;
  font-family: 'Raleway';
  color: var(--colorTexto)

}
.contendor-slider-varios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    @include rwd(tablet){   

    }
    @include rwd(celular){
        grid-template-columns: repeat(1,1fr);
    }

}

.slider-principal {
	width: 100%;
	height:100%;
	overflow: hidden;
  display: flex;
  justify-content:center;
  align-items: center;
  // border: 1px solid red;
  @include rwd(tablet){
      max-width: 100%;
  }
  @include rwd(celular){
  }
    
}

.slider-comunicados {
	width: 100%;
	height:100%;
	overflow: hidden;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  @include rwd(tablet){
      width: 100%;
  }
  @include rwd(celular){
  }
    
}

.carousel {
    position: absolute;
    // border: 1px solid red;

    top: 0;
    left: 0;
    width: 98vw;
    height: 40rem;
    padding: 1rem;

    @include rwd(tablet){
      height: 25rem;
  
    }
    @include rwd(celular){
  
    }
  }
  .carrusuelComunicados{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35rem;
    @include rwd(tablet){
      height: 25rem;
  
    }
    @include rwd(celular){
  
    }
  }

.carousel-control-prev-icon {
    background-image: url("../../../iconos/prev.svg") !important;
    
}
   
.carousel-control-next-icon {
     background-image: url("../../../iconos/previous.svg")  !important;
}
  
.carousel-control-next-icon, .carousel-control-prev-icon {
      width: 40px !important;
      height: 45px !important;
      opacity: 1 !important;
    @include rwd(tablet){
      height: 53px !important;
      opacity: 1 !important;
  
    }
    @include rwd(celular){
  
    }
}
  
.carousel-indicators .active {
    background-color: var(--moradoLogo) !important;
}
  
  .carousel-indicators li {
    background-color: var(--blancoBlur) !important;
  }
  
  h1, p {
    font-family: Lato;
  }
  
  .carousel-fade .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;
  }
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }
  
  html,
  body,

  .carousel-inner,
  .carousel-item {
    width: 100%;
    height: 100%;
    
    
  }
  
  .carousel-inner{
    box-shadow: 97.4391px 22.486px 80px rgba(0, 0, 0, 0.0274815), 37.5321px 8.66125px 25.4815px rgba(0, 0, 0, 0.0425185), 7.93948px 1.83219px 6.51852px rgba(0, 0, 0, 0.07);
   padding:1rem;

  }
 

  .slider-principal .img-fluid{
    width: 100%;
    height: 100% !important;
    // object-fit: contain !important;
  
    @include rwd(tablet){
      object-fit: cover !important;
  
  
    }
    @include rwd(celular){
  
    }
  }


  .slider-comunicados,.img-fluid{
    width: 100%;
    height: 100% !important;
    object-fit: contain !important;
  
    @include rwd(tablet){
      // object-fit: cover !important;
    }
    @include rwd(celular){
  
    }
  }


  
