.contenedor_anuncios{
    width: 100vw;
    height: 100vh;
    background: rgba(72, 72, 72, 0.35);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    z-index: 1000000;
    display:flex;
    justify-content: center;
    align-items: center;
}


.contenedor_anuncios_1{
    display:none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(72, 72, 72, 0.35);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    z-index: 1000000;
    
}

.anuncios_banner{
    width: 50vw;
    height: 50vh;
    background-color: var(--blancoLogo);
    border:.7rem solid var(--blancoLogo);
    object-fit: contain;
    padding: 1rem;
    border-radius: .5rem;
}
.anuncios_banner_vertical{
    border-radius: .5rem;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50vw;
    height: 90vh;
    background-color: white;
    border:.7rem solid white;
    object-fit: contain;
    padding: 1rem;
    @include rwd(tablet){
        width: 50vw;
        height: 70vh;
    }

    @include rwd(celular){
        width: 90vw;
        height: 50vh;
    
    }
}

.anuncios_banner_horizontal{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80vw;
    height: 90vh;
    background-color: var(--blancoLogo);
    border:.7rem solid var(--blancoLogo);
    object-fit: contain;
    padding: 1rem;
    @include rwd(tablet){
    
    }
    @include rwd(celular){
        width: 90vw;
        height: 50vh;
    
    }
}

.anuncios_conteiner{
    position: relative;
}

.anuncios_banner_boton{
        z-index: 1;
        display: block;
        background-color: var(--blancoLogo);
        width: 3.3rem;
        height: 3.3rem;
        border-radius:50%;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
        background-image: url(../../../../public/iconos/cerrar.png);
        border: .7rem solid var(--blancoLogo);
        background-size: contain;
        align-self: flex-start;
}
.esconder{
    display: none;
}
