.contenedor_anuncios{
    width: 100vw;
    height: 100vh;
    background: rgba(182, 182, 182, 0.35);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    z-index: 1000000;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.anuncios_banner{
    width: 50vw;
    height: 50vh;
    background-color: white;
    // position: relative;
    // background-image: url(../../../public/imagenes/Pronunciamiento.jpg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center center;
    border:.7rem solid white;
    border:1px solid red;
    object-fit: contain;
    padding: 1rem;
    // @include rwd(tablet){
     

  
    // }

    // @include rwd(celular){
    //     width: 80vw;
    //     height: 60vh;
    
    // }
}
.anuncios_banner_vertical{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50vw;
    height: 90vh;
    background-color: white;
    border:.7rem solid white;
    object-fit: contain;
    padding: 1rem;
    @include rwd(tablet){
    
    }

    @include rwd(celular){
        width: 90vw;
        height: 50vh;
    
    }
}


.anuncios_banner_horizontal{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80vw;
    height: 90vh;
    background-color: white;
    border:.7rem solid white;
    object-fit: contain;
    padding: 1rem;
    @include rwd(tablet){
    
    }

    @include rwd(celular){
        width: 90vw;
        height: 50vh;
    
    }
}



.anuncios_conteiner{
    position: relative;

}

.anuncios_banner_boton{
        display: block;
        background-color: white;
        width: 3.3rem;
        height: 3.3rem;
        border-radius:50%;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
        background-image: url(../../../../public/iconos/cerrar.png);
        border: .7rem solid white;
        background-size: contain;
        align-self: flex-start;

}
.esconder{
    display: none;
}
