

.conteiner-destacado{
  width: 100%;
  height: 20rem;
  // border: 1px solid red;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.conteiner-destacado-item{
  display: flex;
  gap:.3rem;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
 height: 5rem;

}

// .conteiner-destacado-contenido{
//   flex-grow: 1;
// }




.title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: var(--colorTexto);
    background: transparent;

  }
  
  // h3 {
  //   // padding-top: 0.25em;
  //   color: var(--colorTexto);

  // }
  
.contenido_destacado_titulo{
  color: var(--moradoLogo);
  text-transform: uppercase;
  margin-top: .7rem;
}

.contenido_destacado_descripccion{
  color: var(--colorTexto);
  text-transform: lowercase;
}
.conteiner-destacado-boton{
  display:flex;
  justify-content: center;
  align-items: center;
}

  .vertical-timeline-element-content {
    color: var(--colorTexto);
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
    background: transparent;
  }
  
  .date {
    color: var(--moradoLogo);
  }
  
  #description {
    // margin: 1.5em 0 2em 0;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    // margin-top: .5rem;
    // width: 8rem;
    border-radius: 5px;
    color:var(--blancoLogo);
  }
  
  .workButton {
    background-color: var(--moradoLogo);

  }
  
  .workButton:hover {
    background-color:var(--moradoLogo);
  }
  
  .schoolButton {
    background-color:var(--moradoLogo);


  }
  
  .schoolButton:hover {
    background-color:var(--moradoLogo);
}
.imagen_noticias_timeline{
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  object-fit:cover;
  // border: 1px solid red;
  // object-position: center;
  // padding-bottom: .5rem;
  // flex-grow: .5;
}
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color:var(--grisLogo);
      margin-top: 1.5em;
    }
  }
  