.contenedor_redes{
    margin-left: .5rem;
    display: grid;
    flex-direction: column;
    position: fixed;
    top: 40%;
    gap: .2rem;
    z-index: 1000;
    @include rwd(tablet){
        top:40%;
        margin-left: .5rem;

    }
    @include rwd(celular){
        top:40%;
        margin-left: 1rem;

    }
    
}


.icono{

    width: 2.5rem;
    height: 2.5rem;
}