

.contenedor-serviciosGrid-titulo{


    display: flex;
    //background-color: red;
    flex-direction:column;
    color: var(--grisLogo);
    justify-content:center;
    align-items:center;
    gap: .8rem;
   // border: 1px solid red;
    height: 35vh;
}






.contenedor-serviciosGrid-contenido{
        //border: 1px solid red;
        display:flex;
        display:static;


}


.contenedor-serviciosGrid-contenido-conteiner{
    display:flex;
    justify-content: center;
    align-items: center;
    @include rwd(tablet){
        flex-direction: column;
    }

    @include rwd(celular){

    }


}

.contenedor-serviciosGrid-contenido::after{
    content: " ";
    height: .1rem;
    width: 1rem;
    display: relative;
    margin: auto .4rem auto .4rem;
    
    background-color: var(--grisLogo);
    border-radius:1px;
}
.contenedor-serviciosGrid-contenido::before{
    content: " ";
    height: .1rem;
    width: 1rem;
    display: relative;
    margin: auto .4rem auto .4rem;
    border-radius:1px;
    background-color: var(--grisLogo);
}


.contenedor-serviciosGrid-contenido1{
    display:flex;
    padding:.5rem;
    gap: .5rem;
    color:var(--grisLogo);
    font-weight: bold;
    font-size:1.9rem;
}



/////////////////////////////



.contenedor_servicios_grid_conteiner{
    // width: 100vw;
    //background:red;
    // height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
//    border: 1px solid red;
    margin-top: 2rem;
}



.contenedor_servicios_grid{

    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    // border: 1px solid rgb(50, 2, 2);
    gap:4rem;
    @include rwd(tablet){
        grid-template-columns: repeat(2,1fr);

    }

    @include rwd(celular){
        grid-template-columns: repeat(1,1fr);

    }


    
}

.contenedor_servicios_item{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--grisLogo);
}


.servicios{
    object-fit: contain;
    width: 100% !important;
    // border: 1px solid red;
}

