

.contenedor-serviciosGrid-titulo{


    display: flex;
    //background-color: red;
    flex-direction:column;
    color: gray;
    justify-content:center;
    align-items:center;
    gap: .8rem;
   // border: 1px solid red;
    height: 35vh;
}




.contenedor-serviciosGrid-logo{
    width: 4rem; 
    height:4rem;
    background-color:rgba(139, 71, 137, 1);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    .logo-colegio-svg{
        width: 40%;
        height: 40%;
        background-image: url(../../../../public/iconos/temple.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size:contain;
       
    }
    
}

.contenedor-serviciosGrid-contenido{
        //border: 1px solid red;
        display:flex;
        display:static;


}


.contenedor-serviciosGrid-contenido-conteiner{
    display:flex;
    justify-content: center;
    align-items: center;
    @include rwd(tablet){
        flex-direction: column;
    }

    @include rwd(celular){

    }


}

.contenedor-serviciosGrid-contenido::after{
    content: " ";
    height: .1rem;
    width: 1rem;
    display: relative;
    margin: auto .4rem auto .4rem;
    
    background-color: rgb(40, 40, 40);
    border-radius:1px;
}
.contenedor-serviciosGrid-contenido::before{
    content: " ";
    height: .1rem;
    width: 1rem;
    display: relative;
    margin: auto .4rem auto .4rem;
    border-radius:1px;
    background-color: rgb(44, 44, 44);
}


.contenedor-serviciosGrid-contenido1{
    display:flex;
    padding:.5rem;
    gap: .5rem;
    color:rgb(66, 66, 66);
    font-weight: bold;
    font-size:1.9rem;
}
.contenedor-serviciosGrid-contenido2{
    //border: 1px solid red;
    font-size:1.9rem;
    background-color: rgba(139, 71, 137, 1);
    font-weight: bold;

    color:white;
    padding:.5rem;
    border-radius: 3px;
}





/////////////////////////////



.contenedor_servicios_grid_conteiner{
    // width: 100vw;
    //background:red;
    // height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
//    border: 1px solid red;
    margin-top: 2rem;
}



.contenedor_servicios_grid{

    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    // border: 1px solid rgb(50, 2, 2);
    gap:4rem;
    @include rwd(tablet){
        grid-template-columns: repeat(2,1fr);

    }

    @include rwd(celular){
        grid-template-columns: repeat(1,1fr);

    }


    
}

.contenedor_servicios_item{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.servicios{
    object-fit: contain;
    width: 100% !important;
    // border: 1px solid red;
}