
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Raleway') ,local('Raleway'), url('../../public/fuentes/static/Raleway-Medium.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
a{
    text-decoration: none;
    color: #333333 ;

}
h1,h2 , h3, h4, h5, h6{
        font-weight: normal;
        color: #333333;
}

p{
    color:#777777;
}


.marcador {
    background-color: red;
    padding: 10px;
}

.contenedor-separador-bloque{
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.separador-bloque{
    width: 80vw;
    background-color: rgb(140, 30, 30);
    color: red;
}



$puntosQuiebre:(
    celular:640px,
    tablet:1080px,
    laptop:1200px,
    escritorio:1440px
);

@mixin rwd($resolucion){
    @if map-has-key($puntosQuiebre,$resolucion){
        @media screen and (max-width: map-get($puntosQuiebre,$resolucion)) {
            @content ;
        }
        
    }@else{
        
        @media screen and (max-width:$resolucion) {
            @content ;
        }
    }
}


////////COMPONENTES
@import "./componentes/404/noEncontrado.scss";
@import "./componentes/footer/footerContacto.scss";
@import "./componentes/footer/footer.scss";
@import "./componentes/loader/loader.scss";
@import "./componentes/menu/menu.scss";
@import "./componentes/menu/menuItem.scss";
@import "./componentes/menu/cmpDiguital.scss";
@import "./componentes/pronunciamiento_inicio.scss/anuncios.scss";
@import "./componentes/redes_sociales/redesSociales.scss";
@import "./componentes/redes_sociales/watsap.scss";
@import "./componentes/sitio_construccion/sitioConstruccion.scss";
@import "./componentes/silder/slider.scss";
@import "./componentes/silder/sliderNoticias.scss";

////////PAGINAS

@import "./paginas/biblioteca/biblioteca.scss";

@import "./paginas/banner.scss";
@import "./paginas/comite/comite.scss";

@import "./paginas/comunicaciones/pronunciamiento.scss";
@import "./paginas/comunicaciones/condolencias.scss";


@import "./paginas/ruta_parametro/gridDetalle.scss";
@import "./paginas/ruta_parametro/gridPage.scss";

@import "./paginas/comunicaciones/normativo.scss";

@import "./paginas/galeria/galeriaVideos.scss";

@import "./paginas/inicio/galeriavideosInicio.scss";
@import "./paginas/inicio/palabrasDecano.scss";
@import "./paginas/inicio/noticiasDestacadas.scss";
@import "./paginas/inicio/contador.scss";
@import "./paginas/inicio/bannerPrincipal.scss";


@import "./paginas/nosotros/biembenida.scss";
@import "./paginas/nosotros/colegioMedico.scss";
@import "./paginas/nosotros/juntaDirectiva.scss";
@import "./paginas/nosotros/documentoNormativo.scss";

@import "./paginas/servicios/serviciosGrig.scss";







 





