
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Raleway') ,local('Raleway'), url('../../public/fuentes/static/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Niconne';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Niconne') ,local('Niconne'), url('../../public/fuentes/Niconne-Regular.ttf');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Pacifico') ,local('Pacifico'), url('../../public/fuentes/Pacifico-Regular.ttf');
}


:root{
    --moradoDegradadoFuerte:#CA29FF;
    --moradoDegradadoDevil:#F1C7FF;
    --moradoLogo:#630460;
    // --amarilloLogo:#e76add96;
    --amarilloLogo:#D49607;
    --grisLogo:#3A3A3A;
    --colorTexto:rgb(101, 101, 101);
    --blancoLogo:rgb(255, 255, 255);
    --moradoBlur:rgba(139, 105, 137, 0.62);
    --blancoBlur:rgba(238, 238, 238, 0.812);
    //estilos de tablas
    --colorHead:rgb(139, 103, 143);
    --filaPar:#fcfcfc;
    --filaImpar:#c3cdff;
    --colorBorde:#c2c2c4;
    --hover:rgb(236, 236, 236);
    --fondo:rgb(255, 255, 255);

}

body.dark{
    --moradoDegradadoDevil:#5c5c5c;
    --moradoDegradadoFuerte:#878787;
    --moradoLogo:#a7a7a7;
    --amarilloLogo:#cdcdcd;
    --grisLogo:#a7a7a7;
    --colorTexto:rgb(202, 202, 202);
    --blancoLogo:rgb(237, 237, 237);
    --moradoBlur:rgba(103, 103, 103, 0.62);
    --blancoBlur:rgba(81, 81, 81, 0.812);
    //estilos de tablas
    --colorHead:rgb(139, 103, 143);
    --filaPar:#fcfcfc;
    --filaImpar:#c3cdff;
    --colorBorde:#c2c2c4;
    --hover:rgb(236, 236, 236);
    --fondo:rgb(84, 84, 84);
}

* :not(.vertical-timeline-element,svg,span,div,h3,h5,p,img,h1,ol)  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background-color: var(--fondo);
    // color: var(--colorTexto);
}



a{
    text-decoration: none;
    color: var(--grisLogo) ;
}

.contenedor-separador-bloque{
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.separador-bloque{
    width: 80vw;
    background-color: var(--colorTexto);
}


$puntosQuiebre:(
    celular:640px,
    tablet:1080px,
    laptop:1200px,
    escritorio:1440px
);

@mixin rwd($resolucion){
    @if map-has-key($puntosQuiebre,$resolucion){
        @media screen and (max-width: map-get($puntosQuiebre,$resolucion)) {
            @content ;
        }
        
    }@else{
        
        @media screen and (max-width:$resolucion) {
            @content ;
        }
    }
}

/////////////////////////////// progress scroll bar//////////////////

.progressMainWrapper{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

.progressMainStyle{
    position: fixed;
    top: 0;
    height:.3rem;
    background: linear-gradient(90deg, var(--moradoDegradadoDevil) 0%, var(--moradoDegradadoFuerte) 100%);
}


 
////////COMPONENTES
@import "./componentes/404/noEncontrado.scss";
@import "./componentes/footer/footerContacto.scss";
@import "./componentes/footer/footer.scss";
@import "./componentes/loader/loader.scss";
@import "./componentes/menu/menu.scss";
@import "./componentes/menu/menuItem.scss";
@import "./componentes/pronunciamiento_inicio.scss/anuncios.scss";
@import "./componentes/redes_sociales/redesSociales.scss";
@import "./componentes/redes_sociales/watsap.scss";
@import "./componentes/sitio_construccion/sitioConstruccion.scss";
@import "./componentes/silder/slider.scss";

////////PAGINAS

@import "./paginas/biblioteca/biblioteca.scss";

@import "./paginas/banner.scss";
@import "./paginas/comite/comite.scss";

@import "./paginas/comunicaciones/pronunciamiento.scss";
@import "./paginas/comunicaciones/condolencias.scss";


@import "./paginas/ruta_parametro/gridDetalle.scss";
@import "./paginas/ruta_parametro/gridPage.scss";

@import "./paginas/comunicaciones/normativo.scss";

@import "./paginas/galeria/galeriaVideos.scss";

@import "./paginas/inicio/galeriavideosInicio.scss";
@import "./paginas/inicio/palabrasDecano.scss";
@import "./paginas/inicio/noticiasDestacadas.scss";
@import "./paginas/inicio/contador.scss";
@import "./paginas/inicio/bannerPrincipal.scss";


@import "./paginas/nosotros/biembenida.scss";
@import "./paginas/nosotros/colegioMedico.scss";
@import "./paginas/nosotros/juntaDirectiva.scss";
@import "./paginas/nosotros/documentoNormativo.scss";

@import "./paginas/servicios/serviciosGrig.scss";






 





