.contenedor-banner-principal{
  
    //position: relative;
    position:static;
    //border: 1px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;

    
    .contenedor-puntos{
        z-index: 10;
        display:flex;
        gap: .5rem;
        .punto{
            border-radius: 50%;
            height: 1.5rem;
            width: 1.5rem;
            background-color: rgb(88, 88, 88);
            
        
        }

    }
    
    .boton{
        z-index: 10;
        position: absolute;
        color: white;
        top: 65%;
        margin: 2rem;
    }
    .izquierdo{
        right: 0;
    }
    .derecho{
        left: 0;
    }

}
.slider{
    width: 100vw;
    height:60vh;
    background-image: url(../../assets/imagenes/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:static;
}

