


.datos{
    margin-top:2rem;
    //border: 1px solid red;
    padding-left: 4rem;

}
.conteiner-datos{
    margin-top:1.5rem;

    display: grid;
    width: 70vw;

    //grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
    //border: 1px solid red;

}

.contenido_cart_descripccion{
     text-align: justify;
    line-height: 1.8rem;
    white-space:pre-wrap;
    

}

