.title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  h3 {
    // padding-top: 0.25em;
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }
  
  .date {
    // color: rgb(201, 251, 255);
    color: rgba(139, 71, 137, 1);


  }
  
  #description {
    // margin: 1.5em 0 2em 0;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    // margin-top: .5rem;
    border-radius: 5px;
    color: rgb(246, 246, 246);
  }
  
  .workButton {
    background-color: rgba(139, 71, 137, 1);

  }
  
  .workButton:hover {
    background-color: rgb(162, 83, 159);
  }
  
  .schoolButton {
    background-color: rgb(157, 97, 156);

  }
  
  .schoolButton:hover {
    background-color: rgb(162, 83, 159);

}
.imagen_noticias_timeline{
  width: 100%;
  height: 10rem;
  object-fit:contain;
  // border: 1px solid red;
  object-position: center;
  padding-bottom: .5rem;
}
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }
  