.contenedor_redes{
    margin-left: .5rem;
    display: grid;
    flex-direction: column;
    position: absolute;
    top: 10%;
    gap: .2rem;
    //border:1px solid red;
    z-index: 1000;
    @include rwd(tablet){
        top:1%;
        margin-left: .5rem;

    }
    @include rwd(celular){
        top:1%;
        margin-left: 1rem;

    }
    
}
