.contenedor_redes{
    margin-left: .5rem;
    display: grid;
    flex-direction: column;
    position: absolute;
    top: 10%;
    gap: .2rem;
    @include rwd(celular){
        top:5%;
        margin-left: 1rem;

    }
}
