.contenedorConstruccion{
    margin-top: 4rem;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color:red;
    pointer-events: none;
    //border: 1px solid red;
    @include rwd(tablet){

    }

    @include rwd(celular){
     
        width: 100vw;
        height: 55vh;
        transform: translateY(-5%);
    
    }
}

.imagenConstruccion{
    width: 50vw;
    height: 50vh;
    background-image: url(../../assets/imagenes/sitioConstruccion.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    @include rwd(tablet){

    }

    @include rwd(celular){
     
        width: 80vw;
        height: 80vh;
    
    }

}