
.datos{
    margin-top:2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    @include rwd(tablet){
     
    }

    @include rwd(celular){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

}
.conteiner-datos{
    margin-top:1.5rem;
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 1.5rem;
    @include rwd(tablet){
    
    }

    @include rwd(celular){
        width: 80vw;
    }

}

.contenido_cart_descripccion{
    width: 100%;
    text-align: justify;
    line-height: 1.8rem;
    white-space:pre-wrap;
}

.contenedor_comite_grid{

    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap:4rem;
    @include rwd(tablet){
        grid-template-columns: repeat(2,1fr);

    }

    @include rwd(celular){
        grid-template-columns: repeat(1,1fr);

    }


    
}


.comite{
    object-fit: contain;
    width: 100% !important;
}
.contenedor_comite_item{
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
}
