//HEADER CONTENEDOR PRINCIPAL DEL MENU
.header{
    z-index: 1000;
    padding: 1rem 0 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background .5s ease-in-out;
    border-bottom: 1px solid var(--moradoLogo);

    @include rwd(1484px){
        padding: 0rem 0 0rem 0;
    }
    @include rwd(tablet){
        padding: .1rem 0 .1rem 0;
    }
}

.header-color{
    background-color: var(--blancoBlurMenu);
    border-bottom: 1px solid transparent;
}


.boton-menu-hamburguesa{

}

.conteiner-elementos-menu{
    width: 100vw;
    @include rwd(tablet){
        display: flex;
        position: fixed;
        top: 11rem;
        top: 0rem;
        right: -90vw;
        height: 100vh;
        width: 60vw;
        z-index: 1000;
        // background: var(--blancoLogo);
        background-color: var(--blancoBlurMenu);

        transition: right .3s;         
        &.show{
          right: 0;
        }
    }
}

.menu{
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    list-style: none;
    min-width: 0;
    padding:0;
    margin: 0;
    border-left: 1px solid rgb(199, 199, 199);
    @include rwd(tablet){


        display:grid;
        align-items:center;
        justify-content:stretch;
    }
    
}

.item-logo{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

    
    @include rwd(tablet){
       display: none;
    }
}

.submenu{
    list-style: none;
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    top: 100%;
    transform-origin: top center;
    transform: scale(1,0);
    opacity: 0;
    transition: transform  .2s,opacity .8s;
    padding: 0;
    margin: .5rem;
    ul{
        top: 0;
        left: 100%;
    }

    @include rwd(tablet){
        display: none;
        position: static;
        background-color: var(--blancoBlurMenu);
    }
}



.item {
    padding: 0.5rem;
    position: relative;
    background-color: var(--blancoBlurMenu);
    @include rwd(tablet){

        background: transparent;
    }
    
}

.item:hover {
     .submenu{
        transform: scale(1,1);
        opacity: 1;
    }

}


//////////inicio clase mas importante
.active {
    .submenu{
        transform: scale(1,1);
        opacity: 1;
    }
    @include rwd(tablet){

            .submenu{
                display: flex;
                justify-content: right;
            }
   }
 }
//////////fin clase mas importante


.item-submenu{
    background-color:var(--blancoBlurMenu);
    @include rwd(tablet){
        background-color:var(--moradoDegradadoDevil);
    }
}

.conteiner-toggle-cambio-tema{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//////inicio linea movil menu hover item menu//////

.link{
    color: var(--colorTexto);
    font-size: 0.8rem;
    height:100%;
    font-weight:400;
    text-decoration: none !important;
    padding-top: .7rem;
    padding-bottom: .7rem;
    width: inherit;
    padding-left: 1rem;
    padding-right: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    background: linear-gradient(90deg, var(--moradoDegradadoDevil) 0%, var(--moradoDegradadoFuerte) 100%);
    background-repeat: no-repeat;
    background-position: left 100%;
    transition-duration: .5s;
    background-size: 0 6%;
    &:hover{
        background-size:100% 6%;
        width: 100%;
        color: var(--moradoLogo);
    }
    @include rwd(1288px){
        padding-left: 1rem;
        padding-right: 2rem;
        white-space: wrap;

    }
    @include rwd(tablet){
        // border-top: 1px solid red;
        display: flex;
        flex-direction: column;

    }
}

.linkSubmenu{
    @include rwd(tablet){
            display: flex;
            align-items: flex-start;
            justify-content:flex-start;
            padding-left: 1rem;
    }

}

//////fin linea movil menu//////


//////inicio flecha animada hover submenu//////


.flecha_animacion{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    // border: 1px solid red;
    width: 2.5rem;
    height: inherit;
    @include rwd(tablet){
        position: absolute;
        top: 0%;
        transform: translateY(30%);
        right: 0%;
    }

}

section {
	margin: 0 auto;
	padding: 3rem 1rem;
    @include rwd(tablet){
       padding: 0;
       margin :0;
    }
}

.arrow-animated {
	display: inline-block;
	height: 1.2rem;
	width: 1.2rem;
}

.arrow-animated svg {
	height: 100%;
	width: 100%;
}

.arrow-animated.arrow-left svg {
	transform: rotate(180deg);
}

.arrow-animated.arrow-down svg {
	transform: rotate(90deg);
}

.arrow-animated.arrow-up svg {
	transform: rotate(270deg);
}

.arrow-animated polyline{
		fill:none;
		stroke:var(--moradoDegradadoFuerte);
		stroke-miterlimit:10;
		stroke-width:2.91px;
}

.arrow-animated:hover polyline:first-child {
	opacity: 0;
	animation: arrowFadeIn .3s ease .2s;
	animation-fill-mode: forwards;
}

.arrow-animated polyline:nth-last-child(2){
	opacity: 0;
	stroke:var(--moradoDegradadoFuerte);
}

.arrow-animated:hover polyline:nth-last-child(2){
	animation: arrowFadeIn .3s ease .1s;
	animation-fill-mode: backwards;
	stroke:var(--moradoDegradadoFuerte);
}

.arrow-animated polyline:last-child{
	opacity: 0;
	stroke:var(--moradoDegradadoFuerte);
}

.arrow-animated:hover polyline:last-child {
	animation: arrowFadeIn .3s ease 0s;
	animation-fill-mode: backwards;
	stroke:var(--moradoDegradadoFuerte);
}

@keyframes arrowFadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

//////fin flecha animada hover submenu//////



//////inicio toggle animacion menu sanwich/////
.menu-togle-animation {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;

    @include rwd(tablet){
        display: flex;
    }
    
  }

.line {
    fill: none;
    stroke: var(--moradoLogo);
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}

/////fin toggle animacion menu sanwich/////
    