.contenedor_footer{
    margin-top:2rem;
    background: linear-gradient(90deg, var(--moradoLogo) 0%, var(--moradoDegradadoFuerte) 100%);
    padding: 4rem;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.5rem; 
    @include rwd(tablet){
    
        grid-template-columns: repeat(2,1fr);

    }

    @include rwd(celular){

  
        grid-template-columns: repeat(1,1fr);

    }

}

.item_contenedor_footer{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
    gap:.3rem;
    // border: 1px solid red;

}


.item_contenedor_texto_titulo{
    font-size:1rem;
    color:var(--blancoLogo);

}

.item_contenedor_texto{
    font-size:.8rem;
    color:var(--blancoLogo);
}
.item_contenedor_texto_color{
    font-size:.8rem;
    color:var(--amarilloLogo);
}


.item_contenedor_footer_bloque{
    margin-top:.5rem;
    margin-bottom:1.5rem;
    // border: 1px solid red;
}

.item_contenedor_footer_final{
    background-color:var(--grisLogo);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_footer{
    margin: 2rem;
}
