
.contenedor-page{
    // margin-top: 5em;
   //border: 1px solid red;
}
.contenedor-page-titulo{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 2rem;
    //border: 1px solid red;
}

.contenedor_page_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @include rwd(tablet){
        grid-template-columns: 1fr;
    }
    @include rwd(celular){

    }

}

.contenedor_separador{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    .separador{
        width: 40vw;
        height: 1px;
        background-color: var(--gris);
        // border: 1px solid blue;
        @include rwd(tablet){
            height: 2px;
            width: 90vw;
        }
        @include rwd(celular){
        }

    }
}


.page-clase{
    text-decoration: none;
    margin-left: 2rem;
    // border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    padding: auto;
    margin: 1rem;
    position:relative;
    gap: 1rem;
    @include rwd(tablet){
        flex-direction: column;
    }
    @include rwd(celular){
        margin: auto auto 1.5rem auto;
    }
    
}

.page{
    // border: 1px solid red;
     height: 10rem;
     width: 20rem;
     object-fit: cover;
     @include rwd(tablet){
         
         height: 85%;
         width: 100%;
         margin-bottom: .5rem
     }
 
     @include rwd(celular){
  
     }
 }

.imagen-page{
//    border: 1px solid red;
    height: 10rem;
    width: 20rem;
    object-fit: cover;
    @include rwd(tablet){
        height: 80%;
        width: 80%;
        margin-bottom: .5rem

    }
    @include rwd(celular){
        height: 100%;
        width: 100%;
        margin-bottom: .5rem
    }
}

.evento-page{
    margin-left: 2em;
}
.page-descripccion{
    margin-bottom: .5rem;
    //width: 70%;
    text-align: justify;
    text-decoration: none;
   // border: 1px solid red;
    color: rgb(47, 47, 47);
}


.colors{
    color: #03C4EB;
}

.page-estado{
       // border: 1px solid red;
        background-color:var(--grisLogo);
        color: var(--blancoLogo);
        padding: .5rem;
        border-radius:.4em;
        width: 6rem;

}
