
.contenedor-page{
    margin-top: 5em;
   //border: 1px solid red;
}
.contenedor-page-titulo{
    display: flex;
    flex-direction: column;
    // width: 100vw;
    
    justify-content:center;
    align-items: center;
    margin: 2rem;
    //border: 1px solid red;
}

.contenedor_page_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    //border: 1px solid red;
    //height:60rem;
    gap:.5rem;

}

.contenedor_separador{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    .separador{
        width: 40vw;
        height: 2px;
        color: var(--grisLogo);
        // border: 1px solid blue;

    }
}


.page-clase{
    text-decoration: none;
    margin-left: 2rem;
    // border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
//     height:12rem;
    width: auto;
    margin: 1rem;
    position:relative;
    gap: 2rem;
    @include rwd(tablet){
       

  
    }

    @include rwd(celular){
        //border: 10px solid rgb(50, 161, 6);

        margin: auto auto 1.5rem auto;
        //margin-bottom: 1.5rem;

        display: grid;
 
    
    }
    
}

.page{
    //border: 1px solid red;
     height: 10rem;
     width: 20rem;
     object-fit: cover;
     @include rwd(tablet){
         
     }
 
     @include rwd(celular){
         height: 85%;
         width: 100%;
         margin-bottom: .5rem
  
     }
 }

.imagen-page{
   //border: 1px solid red;
    height: 10rem;
    width: 20rem;
    object-fit: cover;
    @include rwd(tablet){
        
    }

    @include rwd(celular){
        height: 85%;
        width: 100%;
        margin-bottom: .5rem
 
    }
}


.evento-page{
    margin-left: 2em;
}
.page-descripccion{
    margin-bottom: .5rem;
    //width: 70%;
    text-align: justify;
    text-decoration: none;
   // border: 1px solid red;
    color: rgb(47, 47, 47);
}


.colors{
    color: #03C4EB;
}

.page-estado{
       // border: 1px solid red;
        background-color:var(--grisLogo);
        color: var(--blancoLogo);
        padding: .5rem;
        border-radius:.4em;
        width: 6rem;

}
